# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv
venv/
env/

# Database
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Static files
/staticfiles/
/media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db